# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "ee29c60c321cc03bdee83df811af1b6d"
name = "maatchaa-oauth"
# TODO: This URL depends on the result of `shopify app dev`
application_url = "https://maatchaa.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = false
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Scopes needed for Maatchaa platform
scopes = "read_analytics,read_companies,read_discounts,write_discounts,read_inventory,read_orders,read_product_feeds,read_product_listings,read_products,read_content,unauthenticated_read_product_inventory,unauthenticated_read_product_listings,unauthenticated_read_product_tags,unauthenticated_read_content"

[auth]
redirect_urls = [
  "https://unconvulsive-hyo-fascinatedly.ngrok-free.dev/shopify/callback",
  "https://unconvulsive-hyo-fascinatedly.ngrok-free.dev"
]
